@model HomeModel 
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-2">Bem-vinda , @Model.Nome</h1>
    <h2 class="display-2"">Primeira Aula de ASP.NET </h2>
    <h2 class="display-5">O meu email: @Model.Email</h2>
    <h2 class="display-5">O curso é @Model.NomeCurso</h2>
    <h2 class="display-5">O endereço é @Model.Endereço</h2>
    <h2 class="display-5">A profissão é @Model.Profissão</h2>
</div>
